name: docs
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.13

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Build docs
        run: uv run mkdocs build
        id: build_docs

      - name: Rebuild and deploy docs
        run: uv run mkdocs gh-deploy --force
        if: github.ref == 'refs/heads/main' && steps.build_docs.outcome == 'success'
